<%- include('header') -%>

  <div id="header"><%- content -%></div>
  <div id="menu">
    <div id="dish-container">
      <div id="dishImage"><%- content -%></div>
      <div id="dishName"><%- content -%></div>
      <div id="dishPrice"><%- content -%></div>
    </div>
  </div>
  <div id="order-sum" class="col-sm-4">
    
  </div>

<%- include('footer') -%>
